``@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.bg {
  background: url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg")
  no-repeat center center/cover;
  position: absolute;
  top:0;
  left:0%;
  width:calc(100vw + 60px);
  height:calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
} 

.loading-text{
  font-size: 50px;
  color: #fff;
}




